<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

            <div class="card">
              <div class="card-body">
                <!-- header media -->
                <div class="media">
                  <a href="javascript:void(0);" class="mr-25">
                    <img [src]="this.preview ? this.preview : this.product.photos ? USER_IMAGE_PATH + this.product.photos : 'assets/images/default_images/simple_product.png'" class="rounded mr-50" alt="profile image" height="76" width="80" />
                  </a>
                  <!-- upload and reset button -->
                  <div class="media-body mt-75 ml-1">
                    <button
                      (click)="file.click()"
                      for="account-upload"
                      class="btn btn-sm btn-primary mb-75 mr-75"
                      rippleEffect
                    >
                      Charger
                    </button>
                    <input
                      type="file"
                      #file
                      id="account-upload"
                      hidden
                      accept="image/*"
                      (change)="selectFile($event)"
                    />
                    <!-- <button class="btn btn-sm btn-outline-secondary mb-75" rippleEffect>Reset</button> -->
                    <p>Charger JPG, GIF or PNG. Taille Max 800kB</p>
                  </div>
                  <!--/ upload and reset button -->
                </div>
                
                <div id="" class="mt-1" *ngIf="uploading">
                  <div class="progress-wrapper">
                    <div class="mb-25">Chargement &hellip; {{ this.progress }}%</div>
                    <ngb-progressbar type="primary" [value]="this.progress"></ngb-progressbar>
                  </div>
                </div>
                <!--/ header media -->

                <!-- form -->
                <form class="validate-form mt-2" *ngIf="(content_loaded == true && this.product)"
                (ngSubmit)="(ProductForm.form.valid)" #ProductForm="ngForm">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="name">Nom de produit</label>
                        <input
                          type="text"
                          [(ngModel)]="this.product.name"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Product name"
                          [class.error]="ProductForm.submitted && FNameRef.invalid" #FNameRef="ngModel" required
                          aria-label="Product name" aria-describedby="basic-icon-default-name2"
                        />
                        <span *ngIf="ProductForm.submitted && FNameRef.invalid" class="invalid-form">
                          <small class="form-text text-danger" *ngIf="FNameRef.errors.required">Ce champ est obligatoire!</small>
                        </span>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group mb-2">
                        <label class="form-label" for="parent_id">Categorie</label>
                        <ng-select [items]="categories"
                        [(ngModel)]="selectedOptionParent" [ngModelOptions]="{standalone: true}">
                          <ng-template ng-label-tmp let-item="item">
                            {{item.label}}
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="unit_price">Prix ​​unitaire</label>
                        <input
                          type="number"
                          [(ngModel)]="this.product.unit_price"
                          class="form-control"
                          id="unit_price"
                          name="unit_price"
                          placeholder="240.00 "
                          [class.error]="ProductForm.submitted && FUnitPriceRef.invalid" #FUnitPriceRef="ngModel" required
                          aria-label="Unit Price" aria-describedby="basic-icon-default-name2"
                        />
                      </div>
                      <span *ngIf="ProductForm.submitted && FUnitPriceRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="FUnitPriceRef.errors.required">Ce champ est obligatoire!</small>
                      </span>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="low_stock_quantity">Faible quantité de stock</label>
                        <input
                          type="number"
                          [(ngModel)]="this.product.low_stock_quantity"
                          class="form-control"
                          id="low_stock_quantity"
                          name="low_stock_quantity"
                          placeholder="Low Stock Quantity ex: 10"
                        />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="buying_price">Prix ​​d'achat</label>
                        <input
                          type="number"
                          [(ngModel)]="this.product.buying_price"
                          class="form-control"
                          id="buying_price"
                          name="buying_price"
                          placeholder="150.00"
                        />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="stock">Stock</label>
                        <input
                          type="number"
                          [(ngModel)]="this.product.stock"
                          class="form-control"
                          id="stock"
                          name="stock"
                          placeholder="Stock of product"
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-label" for="description">Description</label>
                          <textarea class="form-control dt-adresse" id="description" rows="3" placeholder="Description of Product" name="description" [(ngModel)]="this.product.description">{{this.product.description}}</textarea>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary mt-2 mr-1" rippleEffect [disabled]="uploading" (click)="editProduct(ProductForm)">Save changes</button>
                      <button type="reset" class="btn btn-outline-secondary mt-2" rippleEffect [disabled]="uploading" routerLink="/products/list">Cancel</button>
                    </div>
                  </div>
                </form>
                <!--/ form -->
              </div>
            </div>

            <!-- loading Card -->
            <div *ngIf="(content_loaded == false || !this.product)"  class="add-new-user modal-content pt-0">
              <div class="card h-100 shadow-none">
                <div class="card-body d-flex justify-content-center align-items-center ">
                  <app-loading-card></app-loading-card>
                  
                </div>
              </div>
            </div>
            <!--/ loading Card -->  

        <!-- New Sidebar -->
        <!-- <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="category-sidebar-right"
            overlayClass="modal-backdrop">
            <app-category-sidebar-right></app-category-sidebar-right>
        </core-sidebar> -->
        <!--/ New Sidebar -->
    </div>
</div>