<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="invoice-add-wrapper">
            <div class="row invoice-add"  *ngIf="this.content_loaded == true">
                <!-- Invoice Add Left starts -->
                <div class="col-xl-9 col-md-8 col-12">
                    <div class="card invoice-preview-card">
                        <!-- Header starts -->
                        <div class="card-body invoice-padding pb-0">
                            <div class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">
                                <div>
                                    <span class="brand-logo">
                                        <img src="{{ appLogoImage }}" alt="brand-logo" width="100" />
                                      </span>
                                    <p class="card-text mb-25 text-align-justify p-adresse-app mt-1">{{this.setting.appAdresse ? this.setting.appAdresse : 'Lot El Wahda Laayoune'}}</p>
                                    <p class="card-text mb-0">Tél: {{this.setting.appPhone1 ? this.setting.appPhone1 : ''}} , {{this.setting.appPhone2 ? this.setting.appPhone2 : ''}}</p>
                                    <p class="card-text mb-0">Fix: {{this.setting.appFixe ? this.setting.appFixe : ''}}</p>
                                </div>
                                <div class="invoice-number-date mt-md-0 mt-2">
                                    <div class="d-flex align-items-center justify-content-md-end mb-1">
                                        <h4 class="invoice-title">{{this.paramType}}</h4>
                                        <div class="input-group input-group-merge invoice-edit-input-group disabled">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i data-feather="hash"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control invoice-edit-input" value="{{ID_invoice_order}}" 
                                                placeholder="ID" disabled /> 
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-1">
                                        <span class="title">Date:</span>
                                        <input type="date" class="form-control invoice-edit-input" type="date" (change)="changeDate($event)" [value]="dateOrderInvoice | date:'yyyy-MM-dd'"/>
                                        <!-- <ng2-flatpickr [config]="dateOptions" name="Date" [placeholder]="dateOptionsDefaultvalue"
                                            [(ngModel)]="this.quote.transaction_date"></ng2-flatpickr> -->
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="title">Date d'échéance:</span>
                                        <input type="text" class="form-control invoice-edit-input" value=""
                                            placeholder="" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Header ends -->

                        <hr class="invoice-spacing" />

                        <!-- Address and Contact starts -->
                        <div class="card-body invoice-padding pt-0" *ngIf="this.paramType != 'simple_sale'">
                            <div class="row row-bill-to invoice-spacing">
                                <div class="col-xl-12 mb-lg-1 col-bill-to pl-0">
                                    <h6 class="invoice-to-title">{{paramType}} To:</h6>
                                    <div class="invoice-customer">
                                        <ng-select [items]="clients ? clients : fournisseurs" [(ngModel)]="customerSelected" name="customerSelected"
                                            bindLabel="name" #select>
                                            <ng-template ng-header-tmp>
                                                <button
                                                    class="add-new-customer btn btn-flat-success cursor-pointer rounded-0 text-left p-50 w-100"
                                                    (click)="createItemSideBar(); select.blur(); select.close()">
                                                    <i data-feather="plus"></i>
                                                    <span class="align-middle ml-25" *ngIf="clients && !fournisseurs">Add New Client</span>
                                                    <span class="align-middle ml-25" *ngIf="!clients && fournisseurs">Add New Fournisseur</span>
                                                </button>
                                            </ng-template>

                                            <ng-template ng-option-tmp let-item="item" bindValue="customerSelected"
                                                bindLabel="name">
                                                {{ item.name }}
                                            </ng-template>
                                        </ng-select>
                                        <div class="customer-details mt-1">
                                            <p class="mb-25 font-weight-bolder">{{ customerSelected?.name }}</p>
                                            <p class="mb-25">{{ customerSelected?.cin }}</p>
                                            <p class="mb-25">{{ customerSelected?.email }}</p>
                                            <p class="mb-25">{{ customerSelected?.adresse }}</p>
                                            <p class="mb-0">{{ customerSelected?.phone }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Address and Contact ends -->

                        <!-- Product Details starts -->
                        <div class="card-body invoice-padding invoice-product-details">
                            <form class="source-item validate-form mt-2" id="formItemsOrder"
                                (ngSubmit)="(ItemsOrder.form.valid)" #ItemsOrder="ngForm">
                                <div data-repeater-list="group-a">
                                    <div class="repeater-wrapper" data-repeater-item
                                        *ngFor="let orderDetail of orderDetails; let i = index"
                                        (change)="onChangeItems(orderDetail , i)">
                                        <div class="row">
                                            <div class="col-12 d-flex product-details-border position-relative pr-0">
                                                <div class="row w-100 pr-lg-0 pr-1 py-2">
                                                    <div class="col-lg-4 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                                                        <p class="card-text col-title mb-md-50 mb-0">Produit</p>
                                                        <ng-select [items]="products" [(ngModel)]="orderDetail.product"
                                                            [ngModelOptions]="{standalone: true}" #FProductRef="ngModel"
                                                            required>
                                                            <ng-template ng-option-tmp ng-label-tmp let-item="item"
                                                                bindLabel="name" bindValue="item">
                                                                <img class="rounded-circle mr-1"
                                                                    [src]="this.item.photos ? USER_IMAGE_PATH + this.item.photos : 'assets/images/default_images/simple_product.png'"
                                                                    alt="product-photo" height="32" width="32" />
                                                                {{ item.name }}
                                                            </ng-template>
                                                        </ng-select>
                                                        <span *ngIf="ItemsOrder.submitted && FProductRef.invalid"
                                                            class="invalid-form">
                                                            <small class="form-text text-danger"
                                                                *ngIf="FProductRef.errors.required">Ce champ est obligatoire!</small>
                                                        </span>
                                                    </div>

                                                    <div class="col-lg-2 col-12 my-lg-0 my-2">
                                                        <p class="card-text col-title mb-md-2 mb-0">Qty</p>
                                                        <input type="number" class="form-control input-qty" id="quantity{{ i }}"
                                                            name="quantity{{ i }}" [(ngModel)]="orderDetail.quantity"
                                                            placeholder="0" min="1"
                                                            max="{{ orderDetail.product ? orderDetail.product.stock : 0 }}"
                                                            #FQtyRef="ngModel" required />
                                                        <span *ngIf="ItemsOrder.submitted && FQtyRef.invalid"
                                                            class="invalid-form">
                                                            <small class="form-text text-danger"
                                                                *ngIf="FQtyRef.errors.required">Ce champ est obligatoire!</small>
                                                        </span>

                                                    </div>

                                                    <div class="col-lg-2 col-12 mt-lg-0 mt-2" > <!--*ngIf="!orderDetail.product"-->
                                                        <p class="card-text col-title mb-md-50 mb-0">Prix</p>
                                                        <p class="card-text mb-0">{{orderDetail.product ?
                                                            orderDetail.product.unit_price + ' MAD' : ''}} </p>
                                                    </div>

                                                    <div class="col-lg-2 col-12 my-lg-0 my-2" >
                                                        <p class="card-text col-title mb-md-2 mb-0">Réduction</p>
                                                        <input type="number" class="form-control" id="discount{{ i }}"
                                                            name="discount{{ i }}" [(ngModel)]="orderDetail.discount" min="0"
                                                            #FDiscountRef="ngModel" required />
                                                        <span *ngIf="ItemsOrder.submitted && FDiscountRef.invalid"
                                                            class="invalid-form">
                                                            <small class="form-text text-danger"
                                                                *ngIf="FDiscountRef.errors.required">Ce champ est obligatoire!</small>
                                                        </span>
                                                    </div>
                                                    <div class="col-lg-2 col-12 mt-lg-0 mt-2">
                                                        <p class="card-text col-title mb-md-50 mb-0">Total</p>
                                                        <p class="card-text mb-0">{{orderDetail.product &&
                                                            orderDetail.quantity ? ( orderDetail.product.unit_price - orderDetail.discount ) *
                                                            orderDetail.quantity : ''}} MAD</p>
                                                    </div>
                                                </div>
                                                <div
                                                    class="d-flex flex-column align-items-center justify-content-between border-left invoice-product-actions py-50 px-25">
                                                    <button (click)="deleteItem(i)" class="btn p-0">
                                                        <i data-feather="trash" [size]="18" class="cursor-pointer"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row mt-1" *ngIf="!orderDetail.id">
                                            <div class="col-12 px-0 d-flex justify-content-center align-items-center">
                                                <button type="button" class="btn btn-success btn-sm btn-add-new"
                                                    (click)="addItemDB(orderDetail, i)" rippleEffect>
                                                    <i data-feather="save" class="mr-25"></i>
                                                    <span class="align-middle">Enregistrer produit</span>
                                                </button>
                                            </div>
                                        </div>
                                        
                                        <div class="row mt-1" *ngIf="orderDetail.id && orderDetail.updated">
                                            <div class="col-12 px-0 d-flex justify-content-center align-items-center">
                                                <button type="button" class="btn btn-warning btn-sm btn-add-new"
                                                    (click)="updateItemDB(orderDetail, i)" rippleEffect>
                                                    <i data-feather="edit" class="mr-25"></i>
                                                    <span class="align-middle">Modifier produit</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-12 px-0">
                                        <button type="button" class="btn btn-primary btn-sm btn-add-new"
                                            (click)="addItem()" rippleEffect>
                                            <i data-feather="plus" class="mr-25"></i>
                                            <span class="align-middle">Ajouter produit</span>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="this.paramType != 'simple_sale'"
                                    class="d-flex flex-row align-items-end justify-content-end border-left invoice-product-actions py-50 px-25">
                                    <div class="mt-2 mr-5">
                                        <span>Réduction(MAD): </span>
                                        <span class="discount">{{discountOrder}} </span><br>
                                        <span>Tax(%): </span>
                                        <span class="tax-1 ml-50" data-toggle="tooltip" data-placement="top" title="Tax"
                                          >{{taxOrder}}%</span>
                                      </div>
                                    
                                    <div ngbDropdown class="dropdown" #discountDropdown="ngbDropdown">
                                        <button class="cursor-pointer more-options-dropdown mr-0 btn p-0 hide-arrow"
                                            id="dropdownMenuButton" role="button" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                            <i data-feather="settings"></i>
                                        </button>
                                        <div ngbDropdownMenu
                                            class="dropdown-menu dropdown-menu-right item-options-menu p-1"
                                            aria-labelledby="dropdownMenuButton">
                                            <div class="form-group">
                                                <label for="discount-input" class="form-label">Réduction (MAD)</label>
                                                <input type="number" class="form-control" id="discount-input" [(ngModel)]="discountOrder" name="discountOrder"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="tax-input" class="form-label">tax(%)</label>
                                                <input type="number" class="form-control" id="tax-input" min="0" max="100" placeholder="20%" name="taxOrder" [(ngModel)]="taxOrder"/>
                                            </div>
                                            <div class="dropdown-divider my-1"></div>
                                            <div class="d-flex justify-content-between">
                                                <button type="button" (click)="discountDropdown.close()"
                                                    class="btn btn-outline-primary btn-apply-changes" rippleEffect>
                                                    Appliquer
                                                </button>
                                                <button type="button" (click)="discountDropdown.close()"
                                                    class="btn btn-outline-secondary" rippleEffect>
                                                    Annuler
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- Product Details ends -->

                        <!-- Invoice Total starts -->
                        <div class="card-body invoice-padding">
                            <div class="row justify-content-end invoice-sales-total-wrapper">

                                <div class="col-md-6 d-flex justify-content-end order-md-2 order-1">
                                    <div class="invoice-total-wrapper">
                                      <div class="invoice-total-item" *ngIf="this.paramType != 'simple_sale'">
                                        <p class="invoice-total-title">Sous-total:</p>
                                        <p class="invoice-total-amount">{{sub_total_order}} MAD</p>
                                      </div>
                                      <div class="invoice-total-item" *ngIf="this.paramType != 'simple_sale'">
                                        <p class="invoice-total-title">Réduction:</p>
                                        <p class="invoice-total-amount">{{discountOrder}} MAD</p>
                                      </div>
                                      <div class="invoice-total-item" *ngIf="this.paramType != 'simple_sale'">
                                        <p class="invoice-total-title">Tax:</p>
                                        <p class="invoice-total-amount">{{taxOrder}}%</p>
                                      </div>
                                      <hr class="my-50" />
                                      <div class="invoice-total-item">
                                        <p class="invoice-total-title">Total:</p>
                                        <p class="invoice-total-amount">{{( this.sub_total_order - this.discountOrder ) + ( this.sub_total_order * this.taxOrder )/100}} MAD</p>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <!-- Invoice Total ends -->

                        <hr class="invoice-spacing mt-0" />

                        <div class="card-body invoice-padding py-0" *ngIf="type_transaction == 'invoice' && this.quote">
                            <!-- Invoice Note starts -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        <label for="note" class="form-label font-weight-bold">Remarque:</label>
                                        <textarea class="form-control" rows="2" id="note" name="notes"
                                            [(ngModel)]="this.quote.notes">{{this.quote.notes}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- Invoice Note ends -->
                        </div>
                    </div>
                </div>
                <!-- Invoice Add Left ends -->

                <!-- Invoice Add Right starts -->
                <div class="col-xl-3 col-md-4 col-12 mt-md-0 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary btn-block mb-75" form="formItemsOrder"
                                (click)="submitOrder(ItemsOrder)" rippleEffect>Modifier</button>
                                
                            <a class="btn btn-outline-secondary btn-block mb-75"  *ngIf="paramType == 'invoice'" routerLink="/transactions/{{paramType}}/list/{{paramInOut}}"
                                rippleEffect>
                                Retour
                            </a>

                            <a class="btn btn-outline-secondary btn-block mb-75"  *ngIf="paramType != 'invoice'" routerLink="/transactions/{{paramType}}/list"
                                rippleEffect>
                                Retour
                            </a>
                            <button *ngIf="paramType == 'invoice'" class="btn btn-success btn-block"
                                data-toggle="modal" data-target="#add-payment-sidebar"
                                (click)="showPaymentMethodModal(modalPM,this.quote.order[0])"  rippleEffect>
                                Méthode de paiement
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Invoice Add Right ends -->

                <!-- Modal -->
                <ng-template #modalPM let-modal> <!--  *ngIf="paramType == 'invoice'"-->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Méthode de paiement</h4>
                        <button type="button" class="close" (click)="modal.dismiss('Cross click')"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" tabindex="0" ngbAutofocus>
                        <div class="row mb-2" *ngIf="orderSelectedHasPM == false"> <!---->
                            <div class="col-12">
                                <select class="form-control" id="status" name="status"
                                    [(ngModel)]="this.paymentMethodSelected"
                                    (change)="onChangeSelectPM($event)">
                                    <option value="" selected>Séléctionner méthode de paiement</option>
                                    <option value="cash">Cash</option>
                                    <option value="cheque">Chéque</option>
                                    <option value="credit">Crédit</option>
                                    <option value="traite">Traite</option>
                                </select>
                            </div>
                            <hr class="invoice-spacing" />

                        </div>


                        <!--------------------- Form Add Payment Method 'Cash' START--------------------->
                        <form *ngIf="paymentMethodSelected == 'cash'" (ngSubmit)="(CashForm.form.valid)"
                            #CashForm="ngForm">
                            <div class="form-group ">
                                <label>Montant: </label>
                                <input type="number" placeholder="Amount" name="amount" class="form-control"
                                    [(ngModel)]="this.cash.amount" [ngModelOptions]="{standalone: true}" 
                                    [class.error]="CashForm.submitted && FAmountRef.invalid"
                                    #FAmountRef="ngModel" required />

                                <span *ngIf="CashForm.submitted && FAmountRef.invalid" class="invalid-form">
                                    <small class="form-text text-danger"
                                        *ngIf="FAmountRef.errors.required">Ce champ est obligatoire!</small>
                                </span>
                            </div>
                            <div class="form-group ">
                                <label>Date paiement: </label>
                                <ng2-flatpickr [config]="DefaultDatePaymentOptions" name="date_payment"
                                    [(ngModel)]="this.cash.date_payment" [ngModelOptions]="{standalone: true}" 
                                    [class.error]="CashForm.submitted && FDatePaymentRef.invalid"
                                    #FDatePaymentRef="ngModel" required name="date_payment"></ng2-flatpickr>

                                <span *ngIf="CashForm.submitted && FDatePaymentRef.invalid"
                                    class="invalid-form">
                                    <small class="form-text text-danger"
                                        *ngIf="FDatePaymentRef.errors.required">Ce champ est obligatoire!</small>
                                </span>
                            </div>
                            <div class="form-group d-flex justify-content-around align-items-center ">
                                <button type="submit" class="btn btn-primary "
                                    (click)="savePaymentMethod(modal,CashForm,this.quote.order[0],'cash')" rippleEffect>
                                    Enregister
                                </button>
                                <button *ngIf="this.cash.id != null" type="submit"
                                    class="btn btn-danger "
                                    (click)="deletePaymentMethod(modal, this.cash,'cashes')" rippleEffect>
                                    Delete
                                </button>
                            </div>
                        </form>
                        <!--------------------- Form Add Payment Method 'Cash' END--------------------->

                        <!--------------------- Form Add Payment Method 'Cheque' START --------------------->
                        <form *ngIf="paymentMethodSelected == 'cheque'" (ngSubmit)="(ChequeForm.form.valid)"
                            #ChequeForm="ngForm">
                            <div class="form-group ">
                                <label>Nom de la banque: </label>
                                <input type="text" placeholder="Name of Bank" name="name_bank"
                                    class="form-control" [(ngModel)]="this.cheque.name_bank" [ngModelOptions]="{standalone: true}" 
                                    [class.error]="ChequeForm.submitted && FNameBankRef.invalid"
                                    #FNameBankRef="ngModel" required />

                                <span *ngIf="ChequeForm.submitted && FNameBankRef.invalid"
                                    class="invalid-form">
                                    <small class="form-text text-danger"
                                        *ngIf="FNameBankRef.errors.required">Ce champ est obligatoire!</small>
                                </span>
                            </div>
                            <div class="form-group ">
                                <label>Numéro de Chéque: </label>
                                <input type="number" placeholder="Num of Cheque" name="num_cheque"
                                    class="form-control" [(ngModel)]="this.cheque.num_cheque" [ngModelOptions]="{standalone: true}" 
                                    [class.error]="ChequeForm.submitted && FNnumChequeRef.invalid"
                                    #FNnumChequeRef="ngModel" required />

                                <span *ngIf="ChequeForm.submitted && FNnumChequeRef.invalid"
                                    class="invalid-form">
                                    <small class="form-text text-danger"
                                        *ngIf="FNnumChequeRef.errors.required">Ce champ est obligatoire!</small>
                                </span>
                            </div>
                            <div class="form-group ">
                                <label>Montant: </label>
                                <input type="number" placeholder="Amount" name="amount" class="form-control"
                                    [(ngModel)]="this.cheque.amount" [ngModelOptions]="{standalone: true}" 
                                    [class.error]="ChequeForm.submitted && FAmountRef.invalid"
                                    #FAmountRef="ngModel" required />

                                <span *ngIf="ChequeForm.submitted && FAmountRef.invalid"
                                    class="invalid-form">
                                    <small class="form-text text-danger"
                                        *ngIf="FAmountRef.errors.required">Ce champ est obligatoire!</small>
                                </span>
                            </div>
                            <div class="form-group " *ngIf="this.quote.order[0].fournisseur_id && !this.quote.order[0].client_id">
                                <label>Date Decaissement: </label>
                                <ng2-flatpickr [config]="DefaultDatePaymentOptions" name="date_decaissement"
                                    [(ngModel)]="this.cheque.date_decaissement" [ngModelOptions]="{standalone: true}" 
                                    [class.error]="ChequeForm.submitted && FDateDecaissementRef.invalid"
                                    #FDateDecaissementRef="ngModel" required></ng2-flatpickr>

                                <span *ngIf="ChequeForm.submitted && FDateDecaissementRef.invalid"
                                    class="invalid-form">
                                    <small class="form-text text-danger"
                                        *ngIf="FDateDecaissementRef.errors.required">Ce champ est obligatoire!</small>
                                </span>
                            </div>
                            <div class="form-group " *ngIf="!this.quote.order[0].fournisseur_id && this.quote.order[0].client_id">
                                <label>Date Encaissement: </label>
                                <ng2-flatpickr [config]="DefaultDatePaymentOptions" name="date_encaissement"
                                    [(ngModel)]="this.cheque.date_encaissement" [ngModelOptions]="{standalone: true}" 
                                    [class.error]="ChequeForm.submitted && FDateEncaissementRef.invalid"
                                    #FDateEncaissementRef="ngModel" required></ng2-flatpickr>

                                <span *ngIf="ChequeForm.submitted && FDateEncaissementRef.invalid"
                                    class="invalid-form">
                                    <small class="form-text text-danger"
                                        *ngIf="FDateEncaissementRef.errors.required">Ce champ est obligatoire!</small>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="status">Statut de paiement</label>
                                <select class="form-control" id="status" name="status"
                                    [(ngModel)]="this.cheque.status" [ngModelOptions]="{standalone: true}" 
                                    [class.error]="ChequeForm.submitted && FPaymentStatusRef.invalid"
                                    #FPaymentStatusRef="ngModel" required>
                                    <option value="A DEPOSER">A DEPOSER
                                    </option>
                                    <option value="DEPOSER">DEPOSER</option>
                                    <option value="ENCAISSE">ENCAISSE</option>
                                    <option value="IMPAYE">IMPAYE</option>
                                </select>

                                <span *ngIf="ChequeForm.submitted && FPaymentStatusRef.invalid"
                                    class="invalid-form">
                                    <small class="form-text text-danger"
                                        *ngIf="FPaymentStatusRef.errors.required">Ce champ est obligatoire!</small>
                                </span>
                            </div>
                            <div class="form-group d-flex justify-content-around align-items-center">
                                <button type="submit" class="btn btn-primary "
                                    (click)="savePaymentMethod(modal,ChequeForm,this.quote.order[0],'cheque')" rippleEffect>
                                    Enregistrer
                                </button>
                                <button *ngIf="this.cheque.id != null"
                                    type="submit" class="btn btn-danger "
                                    (click)="deletePaymentMethod(modal, this.cheque,'cheques')" rippleEffect>
                                    Supprimer
                                </button>
                            </div>
                        </form>
                        <!--------------------- Form Add Payment Method 'Cheque' END --------------------->

                        <!--------------------- Form Add Payment Method 'Credit' START --------------------->
                        <form *ngIf="paymentMethodSelected == 'credit'" (ngSubmit)="(CreditForm.form.valid)"
                            #CreditForm="ngForm">

                            <div class="form-group ">
                                <label>Montant: </label>
                                <input type="number" placeholder="Amount" name="amount" class="form-control"
                                    [(ngModel)]="this.credit.amount" [ngModelOptions]="{standalone: true}" 
                                    [class.error]="CreditForm.submitted && FAmountRef.invalid"
                                    #FAmountRef="ngModel" required />

                                <span *ngIf="CreditForm.submitted && FAmountRef.invalid"
                                    class="invalid-form">
                                    <small class="form-text text-danger"
                                        *ngIf="FAmountRef.errors.required">Ce champ est obligatoire!</small>
                                </span>
                            </div>
                            <div class="form-group ">
                                <label>Date approche: </label>
                                <ng2-flatpickr [config]="DefaultDatePaymentOptions" name="approaching_date"
                                    [(ngModel)]="this.credit.approaching_date" [ngModelOptions]="{standalone: true}" 
                                    [class.error]="CreditForm.submitted && FDateApproachingRef.invalid"
                                    #FDateApproachingRef="ngModel" required
                                    name="approaching_date"></ng2-flatpickr>

                                <span *ngIf="CreditForm.submitted && FDateApproachingRef.invalid"
                                    class="invalid-form">
                                    <small class="form-text text-danger"
                                        *ngIf="FDateApproachingRef.errors.required">This field is
                                        required!</small>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="payment_status">Statut de paiement</label>
                                <select class="form-control" id="payment_status" name="payment_status"
                                    [(ngModel)]="this.credit.payment_status" [ngModelOptions]="{standalone: true}" 
                                    [class.error]="CreditForm.submitted && FPaymentStatusRef.invalid"
                                    #FPaymentStatusRef="ngModel" required>
                                    <option value="unpaid">Non payé</option>
                                    <option value="paid">Payé</option>
                                </select>

                                <span *ngIf="CreditForm.submitted && FPaymentStatusRef.invalid"
                                    class="invalid-form">
                                    <small class="form-text text-danger"
                                        *ngIf="FPaymentStatusRef.errors.required">Ce champ est obligatoire!</small>
                                </span>
                            </div>
                            <div class="form-group d-flex justify-content-around align-items-center">
                                <button type="submit" class="btn btn-primary "
                                    (click)="savePaymentMethod(modal,CreditForm,this.quote.order[0],'credit')" rippleEffect>
                                    Enregistrer
                                </button>
                                <button *ngIf="this.credit.id != null"
                                    type="submit" class="btn btn-danger "
                                    (click)="deletePaymentMethod(modal, this.credit,'credits')" rippleEffect>
                                    Delete
                                </button>
                            </div>
                        </form>
                        <!--------------------- Form Add Payment Method 'Credit' END --------------------->

                        <!--------------------- Form Add Payment Method 'Traite' START --------------------->
                        <div *ngIf="paymentMethodSelected == 'traite'">
                            <div class="row">
                                <div
                                    class="col-4 d-flex justify-content-center align-items-center flex-column ">
                                    <div class="avatar bg-light-primary p-50 m-0">
                                        <div class="avatar-content">
                                            <i data-feather="file" class="text-primary"></i>
                                        </div>
                                    </div>
                                    <h4 class="font-weight-bolder mt-1">{{this.traite.payment_status ?
                                        this.traite.payment_status : 'unpaid'}}</h4>
                                    <p class="mb-0">Status de paiement</p>
                                </div>
                                <div
                                    class="col-4 d-flex justify-content-center align-items-center flex-column ">
                                    <div class="avatar bg-light-primary p-50 m-0">
                                        <div class="avatar-content">
                                            <i data-feather="dollar-sign" class="text-primary"></i>
                                        </div>
                                    </div>
                                    <h4 class="font-weight-bolder mt-1">{{this.traite.amount_paid ?
                                        this.traite.amount_paid : 0}} MAD</h4>
                                    <p class="mb-0">Montant payé</p>
                                </div>
                                <div
                                    class="col-4 d-flex justify-content-center align-items-center flex-column ">
                                    <div class="avatar bg-light-primary p-50 m-0">
                                        <div class="avatar-content">
                                            <i data-feather="dollar-sign" class="text-primary"></i>
                                        </div>
                                    </div>
                                    <h4 class="font-weight-bolder mt-1">{{this.traite.nbr_traites ?
                                        this.traite.nbr_traites : 0}}</h4>
                                    <p class="mb-0">Nombre des traites</p>
                                </div>
                            </div>
                            <form (ngSubmit)="(TraiteForm.form.valid)" #TraiteForm="ngForm" class="mt-1">

                                <div data-repeater-list="group-a">
                                    <div class="repeater-wrapper div-custom-traitesDetailModal my-1"
                                        data-repeater-item
                                        *ngFor="let traiteDetail of traite_details; let i = index"
                                        (change)="onChangeTraiteDetails(traiteDetail , i)">
                                        <div class="row w-100">
                                            <div class="form-group col-3">
                                                <label>Montant: </label>
                                                <input type="number" placeholder="Amount" name="amount"
                                                    class="form-control" [(ngModel)]="traiteDetail.amount" [ngModelOptions]="{standalone: true}" 
                                                    [class.error]="TraiteForm.submitted && FAmountRef.invalid"
                                                    #FAmountRef="ngModel" required />

                                                <span *ngIf="TraiteForm.submitted && FAmountRef.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="FAmountRef.errors.required">Ce champ est obligatoire!</small>
                                                </span>
                                            </div>
                                            <div class="form-group col-4">
                                                <label>Date Approche: </label>
                                                <input type="date" class="form-control invoice-edit-input" type="date" (change)="changeDateTraiteDetail($event,i)"
                                                required  [value]="traiteDetail.approaching_date | date:'yyyy-MM-dd'"/>
                                            </div>
                                            <div class="form-group col-4">
                                                <label for="payment_status">Status de paiement</label>
                                                <select class="form-control" id="payment_status"
                                                    name="payment_status"
                                                    [(ngModel)]="traiteDetail.payment_status" [ngModelOptions]="{standalone: true}" 
                                                    [class.error]="TraiteForm.submitted && FPaymentStatusRef.invalid"
                                                    #FPaymentStatusRef="ngModel" required>
                                                    <option value="unpaid">Non payé
                                                    </option>
                                                    <option value="paid">Payé</option>
                                                </select>

                                                <span
                                                    *ngIf="TraiteForm.submitted && FPaymentStatusRef.invalid"
                                                    class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="FPaymentStatusRef.errors.required">Ce champ est obligatoire!</small>
                                                </span>
                                            </div>
                                            <div
                                                class="col-1 d-flex justify-content-center align-items-center">
                                                <a (click)="deleteTraiteDetail(i)"
                                                    class="d-flex align-items-center"><i
                                                        data-feather="trash-2" class="mr-50"></i> </a>
                                            </div>

                                            <div
                                                class="row w-100 mt-1 d-flex justify-content-around align-items-center">
                                                <button type="button"
                                                    class="btn btn-success btn-sm btn-add-new"
                                                    *ngIf="!traiteDetail.id && this.traite.id"
                                                    (click)="addTraiteDetailDB(traiteDetail, i)"
                                                    rippleEffect>
                                                    <i data-feather="save" class="mr-25"></i>
                                                    <span class="align-middle">Enregister article</span>
                                                </button>
                                                <button type="button"
                                                    class="btn btn-warning btn-sm btn-add-new"
                                                    *ngIf="traiteDetail.id && traiteDetail.updated && this.traite.id"
                                                    (click)="updateTraiteDetailDB(traiteDetail, i)"
                                                    rippleEffect>
                                                    <i data-feather="edit" class="mr-25"></i>
                                                    <span class="align-middle">Modifier article</span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-12 px-0">
                                        <button type="button" class="btn btn-primary btn-sm btn-add-new"
                                            (click)="addTraiteDetail()" rippleEffect>
                                            <i data-feather="plus" class="mr-25"></i>
                                            <span class="align-middle">Ajouter article</span>
                                        </button>
                                    </div>
                                </div>

                            </form>
                            <div class="row w-100 mt-2">
                                <div class="col 12 d-flex justify-content-around align-items-center">
                                    <div
                                        class="form-group d-flex justify-content-around align-items-center">
                                        <button *ngIf="this.traite.id == null" type="submit"
                                            class="btn btn-primary "
                                            (click)="savePaymentMethod(modal,TraiteForm,this.quote.order[0],'traite')"
                                            rippleEffect>
                                            Enregistrer Traite Global
                                        </button>
                                        <button *ngIf="this.traite.id != null"
                                            type="submit" class="btn btn-danger "
                                            (click)="deletePaymentMethod(modal, this.traite,'traites')"
                                            rippleEffect>
                                            Supprimer Traite Global
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------------------- Form Add Payment Method 'Traite' END --------------------->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger"
                            (click)="modal.close('Accept click')" rippleEffect>
                            Annuler
                        </button>
                    </div>
                </ng-template>
                <!-- / Modal -->
            </div>

            <!-- loading Card -->
            <div class="card h-100 shadow-none" *ngIf="this.content_loaded == false">
                <div class="card h-100 card-body d-flex justify-content-center align-items-center ">
                    <app-loading-card></app-loading-card>
                </div>
            </div>
            <!-- / loading Card -->

        </section>
    </div>

    <!-- New Client Sidebar -->
    <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="client-sidebar-right"
        overlayClass="modal-backdrop">
        <app-client-sidebar-right (dataEvent)="receiveData($event)"></app-client-sidebar-right>
    </core-sidebar>
    <!--/ New Client Sidebar -->
    
     <!-- New Fournisseur Sidebar -->
    <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="fournisseur-sidebar-right"
        overlayClass="modal-backdrop">
        <app-fournisseur-sidebar-right (dataEvent)="receiveData($event)"></app-fournisseur-sidebar-right>
    </core-sidebar>
    <!--/ New Fournisseur Sidebar -->
</div>