<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <!-- Stats Horizontal Card -->
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">
                                {{ calculate("A DEPOSER") ?? 0 }} DH
                            </h2>
                            <p class="card-text">A DÉPOSER</p>
                        </div>
                        <div class="avatar bg-light-warning p-50 m-0">
                            <div class="avatar-content">
                                <i data-feather="align-left" class="font-medium-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">
                                {{ calculate("DEPOSER") ?? 0 }} DH
                            </h2>
                            <p class="card-text">DÉPOSER</p>
                        </div>
                        <div class="avatar bg-light-primary p-50 m-0">
                            <div class="avatar-content">
                                <i data-feather="check" class="font-medium-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">
                                {{ calculate("ENCAISSE") ?? 0 }} DH
                            </h2>
                            <p class="card-text">ENCAISSÉ</p>
                        </div>
                        <div class="avatar bg-light-success p-50 m-0">
                            <div class="avatar-content">
                                <i data-feather="folder-minus" class="font-medium-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2 class="font-weight-bolder mb-0">
                                {{ calculate("IMPAYE") ?? 0 }} DH
                            </h2>
                            <p class="card-text">IMPAYÉ</p>
                        </div>
                        <div class="avatar bg-light-danger p-50 m-0">
                            <div class="avatar-content">
                                <i data-feather="minus-circle" class="font-medium-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Stats Horizontal Card -->
        <!-- <app-filter [paramInOut]="paramInOut"></app-filter> -->

        <section id="ngx-datatable-kitchen-sink">
            <!--/ Stats Horizontal Card -->
            <!-- <app-filter [paramInOut]="paramInOut" [content_loaded]="content_loaded"  *ngIf="this.content_loaded == true"></app-filter> -->

            <section id="ngx-datatable-kitchen-sink">
                <div class="card">
                    <div class="row py-1">
                        <div class="col-md-6 col-12">
                            <!-- <button class="btn btn-primary ml-1" rippleEffect (click)="createItemSideBar()">
                        <i data-feather="plus" class="mr-0 mr-sm-1"></i><span class="d-none d-sm-inline-block">Add
                            New
                            Service</span>
                    </button> -->
                        </div>
                        <div class="col-md-6 col-12 d-flex justify-content-md-end">
                            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                                <label class="d-flex align-items-center">Chercher<input type="search" placeholder="Search"
                                        class="form-control ml-25" (keyup)="filterUpdate($event)"
                                        (search)="filterUpdate($event)" /></label>
                            </div>
                            <a (click)="this.exportData.exportAsExcelFile(cheques, 'Cheques')"
                                class="btn btn-outline-secondary float-right mr-1" rippleEffect>Exporter Excel</a>
                        </div>
                    </div>
                    <ngx-datatable *ngIf="this.content_loaded == true" class="bootstrap core-bootstrap"
                        [headerHeight]="40" [rowHeight]="58" [limit]="10" [columnMode]="ColumnMode.force"
                        [footerHeight]="50" [rows]="cheques" [scrollbarH]="true">
                        <ngx-datatable-column [width]="60" name="Name" prop="name">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                let-row="row">
                                <div title="Double click to edit">
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                            <p class="font-medium-1 line-height-1 mb-0">
                                                {{
                                                paramInOut == "in"
                                                ? row.fournisseur.name
                                                : row.client.name
                                                }}
                                            </p>
                                            <span class="text-muted font-small-2">
                                                {{
                                                paramInOut == "in"
                                                ? row.fournisseur.cin
                                                : row.client.cin
                                                }}</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [width]="20" name="Amount" prop="amount">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row"
                                let-value="value">
                                <div title="Double click to edit">
                                    <p class="font-medium-1 line-height-1 mb-0">{{ value }}</p>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [width]="30" name="name of bank" prop="name_bank">
                            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex"
                                let-row="row">
                                <div title="Double click to edit">
                                    {{ value }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [width]="20" name="num cheque" prop="num_cheque">
                            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex"
                                let-row="row">
                                <div title="Double click to edit">
                                    {{ value }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- <ngx-datatable-column [width]="20" name="status" prop="status">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
              <div title="Double click to edit">
                {{ value }}
              </div>
            </ng-template>
          </ngx-datatable-column> -->
                        <ngx-datatable-column [width]="40" name="{{
                paramInOut == 'in' ? 'date decaissement' : 'date encaissement'
              }}" prop="{{
                paramInOut == 'in' ? 'date_decaissement' : 'date_encaissement'
              }}">
                            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex"
                                let-row="row">
                                <div title="Double click to edit">
                                    {{ value | date }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [width]="30" name="chhal b9a" prop="{{
                paramInOut == 'in' ? 'date_decaissement' : 'date_encaissement'
              }}">
                            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex"
                                let-row="row">
                                <div title="Double click to edit">
                                    {{
                                    row.payment_status == "unpaid"
                                    ? this.dataService.compareDates(value) + " days"
                                    : "--"
                                    }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [width]="60" name="status" prop="status">
                            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex"
                                let-row="row">
                                <ng-select appendTo="body" [(ngModel)]="row.status" [clearable]="false" [searchable]="false"(change)="updateStatus(row)">
                                    <ng-option value="A DEPOSER"><span class="badge badge-warning">A
                                            DEPOSER</span></ng-option>
                                    <ng-option value="DEPOSER"><span class="badge badge-primary">
                                            DEPOSER</span></ng-option>
                                    <ng-option value="ENCAISSE"><span class="badge badge-success">ENCAISSE
                                            </span></ng-option><ng-option value="IMPAYE"><span
                                            class="badge badge-danger">IMPAYE</span></ng-option>
                                </ng-select>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>

                    <!-- loading Card -->
                    <div class="card h-100 shadow-none" *ngIf="this.content_loaded == false">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <app-loading-card></app-loading-card>
                        </div>
                    </div>
                    <!-- / loading Card -->
                </div>
            </section>
        </section>
    </div>
</div>