@import '@core/scss/angular/libs/toastr.component.scss';

.p-adresse-app{
    width: 350px;
    text-align: justify;
  }
  
.div-custom-traitesDetailModal{
  border-radius: 15px;
  padding: 9px;
  background-color: #02020208;
}